* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Oxanium', cursive;
}


body {
  background-image: url(imagens/fundo.png);
  color: white;
  min-height: 100vh;
  text-align: center;
  margin: 0;
}


.menu-principal {
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  border-bottom: 2px solid white;
  padding-bottom: 12px;
  background-color: #f51010;
}


.menu-esquerda,
.menu-direita {
  display: flex;
  gap: 20px;
}


.menu-esquerda {
  padding-left: 10px;
}


.menu-direita {
  padding-right: 10px;
}


.menu-logo {
  height: 40px;
  margin-top: 5px;
}


.menu-baixo {
  border-top: 2px solid white;
  padding-top: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.menu-logo-baixo {
  height: 30px;
}


.menu-redes-sociais {
  display: flex;
  flex-direction: row;
  gap: 10px;
  padding: 10px;
}


.jogos-1,
.jogos-2 {
  border-radius: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}


.effect-item {
  position: relative;
  display: inline-block;
  margin: 10px;
  width: 150px;
  height: 150px;
  border-radius: 5px;
  background-color: #EEE;
  box-shadow: 2px 2px 2px #373E59;
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}


.effect-item::after {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #0CF;
  opacity: 0;
  border-radius: 5px;
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.3);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}


.effect-item:hover {
  transform: scale(1.05, 1.05);
}


.effect-item:hover::after {
  opacity: 1;
}


.gamepage-header-meta-wrapper {
  background-color: #222;
  color: #fff;
  padding: 10px;
  border-radius: 10px;
  max-width: 100%;
  margin-top: 20px;
}


body {
  font-family: 'Arial', sans-serif;
  background-color: #f0f0f0;
  text-align: center;
  margin: 20px;
}


.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}


.Pokemon1 {
  text-align: left;
  margin: 10px;
  max-width: 100%;
}


h1 {
  color: #EEE;
}


iframe {
  width: 100%;
}


.table-container {
  width: 100%;
  margin: 20px 0;
}


table {
  width: 100%;
  border-collapse: collapse;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  color: #000;
}


th,
td {
  padding: 12px;
  border-bottom: 1px solid #ddd;
  text-align: left;
}


th {
  background-color: #222;
  color: #fff;
}


@media only screen and (max-width: 768px) {
.jogos-1,
.jogos-2 {
    flex-direction: column;
    align-items: center;
}


.effect-item {
    width: 80%;
}
}

