* 
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oxanium', cursive;
}

  
body{
    background-image: url(imagens/fundo.png);
    color: white;
    min-height: 100vh;
    text-align: center;
}

.menu-principal{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 20px;
    border-bottom: 2px solid white;
    padding-bottom: 10px;
}

.menu-esquerda{
    display: flex;
    gap: 30px;
    padding-left: 20px;
}

.menu-direita{
    display: flex;
    gap: 30px;
    padding-right: 20px;
}

.menu-logo{
    height: 40px;
}

.menu-baixo{
    border-top: 2px solid white;
    padding-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu-logo-baixo{
    height: 30px;
}

.menu-redes-sociais{
    display: flex;
    flex-direction: row;
    gap: 50px;
    padding-left: 10px;
    padding-right: 20px;
    padding-top: 820px;
}

.jogos-1{

    border-radius: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.effect-item {
  position: relative;
  display: inline-block;
  margin: 2rem 1rem;
  width: 200px;
  height: 200px;
  border-radius: 5px;
  background-color: #EEE;
  box-shadow: 2px 2px 2px #373E59;
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.effect-item::after {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #0CF;
  opacity: 0;
  border-radius: 5px;
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.3);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);

}

.effect-item:hover {
  transform: scale(1.25, 1.25);
}

.effect-item:hover::after {
  opacity: 1;
}

.jogos-2{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

/* TABELA QUE FICA EM BAIXO DO VÍDEO */

.gamepage-header-meta-wrapper {
  background-color: #222; 
  color: #fff; 
  padding: 10px; 
  border-radius: 10px; 
  max-width: 44%
  
  
}
body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;
    text-align: center;
    margin: 10px;
  }
  
  .container {
    display: flex;
    justify-content: space-between;
  }

  /* VÍDEO */

.Pokemon1 {
    text-align: ;
    margin: 00px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: auto;
    margin-right: auto;
}

.Pokemon1 h1 {
  color: #EEE;
  
  margin-bottom: 10px;
  margin-top: 80px
  
}

.Pokemon1 iframe {
  width: 170%;
  max-width: 819px; 
  height: 800px;
  margin-bottom: 170px; 
  
}

  /* TEXTO ACIMA DO VÍDEO */
  
  h1 {
    color:#EEE
    
  }
  
  iframe {
    width: 110%;
  }
  
  th {
    background-color: #222;
    color: #fff;
  }
  
  body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;
    text-align: center;
    margin: 20px;
}

.update-info {
    max-width: 600px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border: 2px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.jogos-1, .jogos-2 {
  background-image: url("https://assets.nintendo.com/image/upload/q_auto:good/f_auto/dpr_2.0/ncom/My%20Nintendo%20Store/EN-US/MNS%20HOME/Characters/PLP_Hero_Characters_Pokemon_BG_tile");
  background-color: rgba(255, 255, 255, 0.9);
  padding: 20px;
  border-radius: 10px;
  margin: 20px 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  

}

.descrição-1 body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-height: 100vh;
    margin: 0;
}

.descrição-1 h1 { 
     color: orange;

    }

    












 

  
  
  
  
 