* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oxanium', cursive;
}

  
body{
    position: fixed;
    width: 100%;
    background-image: url(imagens/fundo.png);
    color: white;
    min-height: 100vh;
    text-align: center;
}

.menu-principal{
    position: fixed;
    width: 100%;
    background-color: rgba(230, 230, 230, 0.874);;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 20px;
    border-bottom: 2px solid white;
    padding-bottom: 12px;
}

.menu-esquerda{
    display: flex;
    gap: 30px;
    padding-left: 20px;
}

.menu-direita{
    display: flex;
    gap: 30px;
    padding-right: 20px;
}

.menu-logo{
    height: 40px;
    margin-top: 5px;
}

#corpo{
    display: flex;
}
#container-grid{
    width: 100%;
    height: 100%;
    justify-content: center;
    margin-top: 10%;

    display: grid;
    grid-template-columns: 350px 350px 350px 350px;
    grid-template-rows: 250px 250px;
    grid-template-areas:
     "noticia1 noticia1 noticia2 noticia2"
     "noticia1 noticia1 noticia3 noticia4";
}
.noticia1{
    background-image: url(/imagens/noticia1.jpg);
    grid-area: noticia1;
}
.noticia2{
    background-image: url(/imagens/noticia2.png);
    grid-area: noticia2;
}
.noticia3{
    background-image: url(/imagens/noticia3.jpg);
    grid-area: noticia3;
}
.noticia4{
    background-image: url(/imagens/noticia4.png);
    grid-area: noticia4;
}
.menu-redes-sociais{
    display: flex;
    flex-direction: row-reverse;
    gap: 50px;
    padding-left: 10px;
    padding-right: 20px;
}
.menu-baixo{
    position: relative;
    margin-top: 175px;
    border-top: 2px solid white;
    padding-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu-logo-baixo{
    height: 30px;
}
/* Estilos para o formato desktop */
@media only screen and (min-width: 1200px) {

}

/* Estilos para o formato de tablet */
@media only screen and (min-width: 576px) and (max-width: 990px) {
    
}

/* Estilos para o formato de smartphone */
@media only screen and (max-width: 575px) {
}