* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oxanium', cursive;
}
body {
    width: 100%;
    background-image: url(imagens/fundo.png);
    color: white;
    text-align: center;
}

.mangas-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.mangas-div {
    margin: 10px;
}

.mangas-div-img {
    position: relative;
    overflow: hidden;
}

.manga-tooltip {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
    text-align: left;
    background: rgba(255, 255, 255, 0.95);
    border-radius: 10px;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
    z-index: 1;
}

.mangas-div-img:hover .manga-tooltip {
    opacity: 1;
}

.manga-img {
    width: 100%;
    border-radius: 8px;
    box-shadow: 2px 2px 2px #373E59;
    transition: transform 0.2s ease-in-out;
}

.mangas-div-img:hover .manga-img {
    transform: scale(1.05);
}

.menu-principal {
    width: 100%;
    align-items: center;
    justify-items: center;
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    border-bottom: 2px solid white;
    padding-bottom: 12px;
    background-color: #f51010; /* Cor de fundo para o menu inteiro */
}
.menu-esquerda{
    display: flex;
    gap: 35px;
    padding-left: 100px;
}

.menu-direita{
    display: flex;
    gap: 35px;
    padding-right: 100px;
}

.menu-logo{
    height: 40px;
    margin-top: 5px;
}


.menu-logo{
    height: 40px;
    margin-top: 5px;
}


.menu-logo{
    height: 40px;
    margin-top: 5px;
}


.menu-logo{
    height: 40px;
    margin-top: 5px;
}

.menu-baixo{
    border-top: 2px solid white;
    padding-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu-logo-baixo{
    height: 30px;
}

.menu-redes-sociais{
    display: flex;
    gap: 50px;
    padding-right: 20px;
}

.conteudo-principal{
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding-top: 20px;
}

.conteudo-principal > h2{
    padding-right: 955px;
}

.mangas-1{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.mangas-2{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.mangas-3{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.mangas-4{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}